<div class="d-flex align-items-center mb-5 mt-5">
    <h1>Races of Valantis</h1>
</div>

<div class="container">
    <h2>Oracles</h2>
    <ul>
        <li>Visions of the Future</li>
    </ul>
    <h2>Angelos</h2>
    <ul>
        <li>Memory from an old time</li>
    </ul>
    <h2>Ice Dwarfs</h2>
        <li></li>
        <li></li>
        <li></li>
    <h2>Mermaids</h2>
        <li></li>
        <li></li>
        <li></li>
    <h2>Humans</h2>
    <li></li>
    <li></li>
    <li></li>
    <h2>Titans</h2>
    <li></li>
    <li></li>
    <li></li>
</div>